.campus_life{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:80px 0;
  .campus{
    
    h2{
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 40px;
    }
    .campus_list{
      ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:30px;
        li{
          width:100%;
          img{
            width:100%;
          }
          h2{
            text-align: left;
            padding-top: 20px;
            padding-bottom: 10px;
          }
          p{
            color:#666;
            line-height: 1.5;
          }
          button{
            background:transparent;
            color:#000;
            font-weight: 600;
            border:none;
            font-size: 16px;
            padding-top: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (min-width:360px) and (max-width:767px){
    .campus_life{
    .campus{
      .campus_list{
        ul{
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media screen and (min-width:768px) and (max-width:1199px){
    .campus_life{
    .campus{
      .campus_list{
        ul{
         display: grid;
         grid-template-columns: repeat(2,1fr);
        }
      }
    }
  }
}

