.academics{
  display: flex;
  align-items: center;
  justify-content: center;
  .academic_content{
    h2{
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }
    .academic_list{
      padding-top: 40px;
      ul{
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:30px;
        width:100%;
        li{
          width:100%;
          height: 100%;;
          position: relative;
          .image_box{
            width:100%;
            height: 100%;
            img{
              width:100%;
            }
          }
          p{
            position: absolute;
            bottom:0;
            z-index:2;
            width:100%;
            background: rgba(0,0,0,0.6);
            padding:10px 20px;
            color:#fff;
            font-size: 18px;
            &:hover{
              background:#f27229;
            }
            
          }
        }
      }
    }
  }
}