.video_section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:80px 0;
  .video{
    background:url('../../assets/bg-video-home-1.webp') center/cover no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2{
      color:#fff;
      font-size: 24px;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    p{
      color:#fff;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}