.stats_section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 0 80px;
  .stats{
    box-shadow:0px 4px 25px 0px rgba(0, 0, 0, 0.1);
    padding:30px;
    ul{
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      li{
        text-align: center;
        span{
          color:#f27229;
          font-size: 24px;
          font-weight: 600;
        }
        p{
          font-size: 16px;
          line-height: 1.5;
          color:#666;
          padding-top: 10px;
        }
      }
    }
  }
}

@media screen and (min-width:360px) and (max-width:767px){
     .stats_section{
    .stats{
      ul{
        flex-direction: column;
      }
    }
  }
}