.banner_section{
  background: url('../../assets/banner.webp') center/cover no-repeat;
  height: 80vh;
  position: relative;
  .overlay{
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    .content_banner{
      width:100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
        color:#fff;
        text-transform: capitalize;
      }
      p{
        color:#fff;
        font-size: 16px;
        font-weight: 600;
        padding:20px 0;
      }
      button{
        background:#f27229;
        padding:12px 24px;
        border:none;
        color:#fff;
        font-size: 16px;
      }
    }
  }
}