.shaping{
  padding:80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .shaping_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    .content{
      h2{
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p{
        color:#666;
        font-size: 16px;
        line-height: 1.5;
        padding-bottom: 20px;
      }
    }
  }
}